.country-container {
  cursor: default; 
}

.country-container-selectable {
  cursor: pointer;
}

.country-selectable {
  -webkit-transition: fill 300ms ease-in-out;
  -moz-transition: fill 300ms ease-in-out;
  -ms-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.troops-change {
  -webkit-animation: topDisapear 0.75s linear 0s;
  -moz-animation: topDisapear 0.75s linear 0s;
  -ms-animation: topDisapear 0.75s linear 0s;
  -o-animation: topDisapear 0.75s linear 0s;
  animation: topDisapear 0.75s linear 0s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes topDisapear {
  0% {
    opacity: 1;
  }
  75% {
    transform: translateY(-30px);
    opacity: 0.75;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
    display: none;
  }
}